<?xml version="1.0"?>
<phpunit
	bootstrap="tests/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
>
	<testsuites>
		<testsuite name="wp-post-series">
			<directory suffix="Test.php">./tests/php</directory>
		</testsuite>
	</testsuites>
</phpunit>
