.wp-post-series-box,
.entry-content .wp-post-series-box {
	margin: 1.5em 0;
	padding: 0;
	border-radius: 5px;
	border: 2px solid  rgba( 0, 0, 0, 0.2 );
	box-shadow: 0 2px 3px rgba( 0, 0, 0, 0.05 );

	&:first-child {
		margin-top: 0;
	}

	.wp-post-series-box__description,
	.wp-post-series-box__scheduled_text {
		font-style: italic;
	}
	.wp-post-series-box__current {
		font-weight: bold;
	}
	.wp-post-series-box__name {
		margin: 0;
		font-weight: bold;
	}
	.wp-post-series-box__description {
		margin: 0;
		p {
			margin: 0;
		}
		p + p {
			margin: 1em 0 0 0;
		}
	}
	.wp-post-series-box__posts {
		ol {
			list-style: decimal inside;
			margin: 0;
			padding:  1em;
			border-top: 1px solid rgba( 0, 0, 0, 0.2 );
			background-color: rgba( 0, 0, 0, 0.03 );

			li {
				margin: 0;
				padding: 0;
			}
		}
	}
	.series-toggle {
		display: none;
	}
	.series-toggle-label {
		display: block;
		position: relative;
		padding: 1em;
	}
	&.wp-post-series-box--expandable {
		.series-toggle-label {
			cursor: pointer;

			&:focus {
				outline: auto;
			}
			&:before {
				content: ' ';
				position: absolute;
				top: 50%;
				right: 1em;
				margin-top: -3px;
				display: block;
				transform: translateY(-2px);
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-left: 5px solid currentColor;
				transition: transform .2s ease-out;
			}
		}
		.wp-post-series-box__posts {
			max-height: 0px;
			overflow: hidden;
			transition: max-height .25s ease-in-out;
		}
		.series-toggle:checked + .series-toggle-label + .wp-post-series-box__posts {
			max-height: 100vh;
		}
		.series-toggle:checked + .series-toggle-label::before {
			transform: rotate(90deg) translateX(-3px);
		}
	}
}

