.wp-post-series-box, .entry-content .wp-post-series-box  {
	border: 1px solid #000;
	padding: 0 1em;
	margin: 1em 0;
}
.wp-post-series-box.expandable, .entry-content .wp-post-series-box.expandable {
	cursor: pointer;
}
.wp-post-series-name, .entry-content .wp-post-series-name {
	font-weight: bold;
	margin: 1em 0;
}
.wp-post-series-description, .entry-content .wp-post-series-description {
	margin: 0;
}
.wp-post-series-description p, .entry-content .wp-post-series-description p {
	margin: 1em 0;
}
.wp-post-series-nav, .entry-content .wp-post-series-nav {
	display:none;
	margin: 1em 0;
}
.wp-post-series-nav ol, .entry-content .wp-post-series-nav ol {
	list-style-type: decimal;
	margin:0;
}
.wp-post-series-show-nav, .wp-post-series-show-description,
.entry-content .wp-post-series-show-nav, .entry-content .wp-post-series-show-description, {
	float: right;
	padding: 0 1em 0 0;
}